<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <title>Find me in views/layout.erb</title>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <style>
      body { margin:100px; }
      article, aside, figure, footer, header, hgroup, menu, nav, section { 
        display:block;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>	
</html>
